.menu{
    padding: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    a{
        color: inherit;
    }
    a.active{
        color:red;
    }
}
